body{background-color:#f0f0f0!important}
.page-wrapper{flex-wrap:nowrap!important}
.page-container{padding:4.5rem 0 0;min-height:100vh;flex-wrap:nowrap!important}
.box-layout{background:#fff;border-radius:4px;margin:1rem;width:100%;padding:1rem;box-shadow: 0 1px 2px 0 #20212447!important;}
.box-layout .dashboard-grid{min-height:30.333vh;min-width:30.333%;margin:0 auto;display:flex;box-shadow:none;border-radius:inherit}
.dashboard-grid .grid-item{display:flex;flex-direction:column;border-radius:4px;margin:0 1rem 1rem auto;box-shadow:0 1px 6px 0 #20212447!important}
.dashboard-grid .grid-item .material-icons{display:block;width:auto;height:auto}
.dashboard-grid .grid-item img{max-width:100%;max-height:75px}
.dashboard-grid .grid-item h3{color:#fff;font-size:1.125rem;font-weight:600}
.dashboard-grid .uiuxstyle-bg{background:#23B3D9}
.dashboard-grid .authentication-bg{background:#4BCCB9}
.dashboard-grid .pushnotification-bg{background:#BC22BF}
.dashboard-grid .captchaimplementation-bg{background:#EC6F62;}
.dashboard-grid .errorhandling-bg{background:#805CE5}
.dashboard-grid .scaintegration-bg{background:#e55ca2}
.dashboard-grid .reodesigner-bg{background:#d04949}
.dashboard-grid .datatable-bg{background:#da642cd1;margin-right: 0;}
.h3{color:#fff!important}
@media screen and (max-width: 1920px) and (min-width:1366px) {
    .dashboard-grid .captchaimplementation-bg{background:#EC6F62;margin-right:0}
}
@media screen and (max-width:1023px) {
    .page-container{padding:3.5rem 0 0;height:100%}
    .box-layout{background:#fff;border-radius:4px;margin:1rem;padding:1rem;box-shadow:0 1px 4px 0 #20212447!important}
    .dashboard-grid .grid-item img{max-width:100%;max-height:50px}
    .dashboard-grid .grid-item{margin:0 1rem 1rem auto}
    .dashboard-grid .grid-item h3{font-size:1rem}
    @media only screen and (orientation: landscape) {
        .dashboard-grid .grid-item{margin:0 1rem 1rem auto;padding-top:1rem}
        .page-container {padding: 4rem 0 0;}
        .header-layout .header-content{width:100%}
        .drawer-layout .logo-small{max-width:62px}
    }
}
@media screen and (max-width:767px) {
    .dashboard-grid .grid-item {
        margin: 0 0 1rem auto;
    }
    @media only screen and (orientation: landscape) {
        .dashboard-grid .grid-item{margin:0 1rem 1rem auto;padding-top:1rem}
        .header-layout .header-content{width:100%}
        .drawer-layout .logo-small{max-width:62px}
    }
}