.drawer-layout{display:flex}
.drawer-layout .drawer{width:250px;white-space:nowrap;flex-shrink:0}
.drawer-layout .drawer-close,.drawer-layout .drawer{box-shadow:0 1px 6px 0 #20212447!important}
.drawer-layout .listicon-logout{margin:0 auto;padding:0 0 0 0.3rem}
.drawer-layout .drawer-open{color:#fff;width:300px;background:#6846C6;transition:width 225ms cubic-bezier(0.4,0,0.6,1) 0}
.drawer-layout .drawer-close{background:#6846C6;box-shadow:#6e45de 2px 2px 2px;overflow-x:hidden}
.drawer-layout .toolbar{display:flex;align-items:center;justify-content:flex-start}
.drawer-layout .logo-small{max-width:50px}
.drawer-layout .logo-large{transition:width 195ms cubic-bezier(0.4,0,0.6,1) 0ms,margin 195ms cubic-bezier(0.4,0,0.6,1) 0}
.drawer-layout .sidebard-logout svg{width: 2rem;height: 1.8rem;opacity: 0.7;}
.drawer-layout .sidemenu-list .MuiListItem-gutters{padding:0.75rem 1.3rem 0.75rem 1.3rem;}
.drawer-layout .sidemenu-list .sidemenu-list a {color: #e2e2e2;}
@media (min-width: 1023px) {
    .drawer-layout .drawer-close{width: 73px;}
}
@media screen and (max-width: 1920px) and (min-width:1366px) {

}
@media screen and (max-width:1023px) {  
    .drawer-layout{display:flex;left:0;position:absolute}
    .drawer-layout .logo-small{max-width:54px}
    .drawer-layout .drawer-close .toolbar button{padding:0}
    .drawer-layout .drawer-open .toolbar button{padding:0}
    .drawer-layout .drawer-close{height:auto;box-shadow:none!important;border-right:none}
    .drawer-layout .drawer-close .drawer-open{box-shadow:0 1px 6px 0 #20212447!important}
    .drawer-layout .drawer-close .navlist-layout{display:none}
    .drawer-layout .drawer-close .drawer-open .navlist-layout{display:block}
    .drawer-layout .drawer-open{width:260px}
    .drawer-layout .drawer-open .sidemenu-list a span{font-size: 0.875rem;}
    .drawer-layout .drawer-close .drawer-open .navlist-layout ul{margin:0 auto;padding: 0;}
    .drawer-layout .listicon-logout {padding: 0;}
    .drawer-layout .drawer-close .drawer-open .navlist-layout .listicon{width: auto;min-width: inherit;padding-right: 0.5rem;}
}