.page-header .header-layout{width: calc(100% - 70px) !important;background: #fff!important;box-shadow: 0 1px 6px 0 #20212447!important;transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms !important;margin-left: 70px !important;}
.header-layout .nodification > span{border:1px solid #f0f0f0;box-shadow:0 1px 6px 0 #20212447!important;padding:.5rem;border-radius:4px}
.header-layout .toolbar{height:8vh}
.header-layout .toolbar-container{width:100%}
.header-layout .header-content{font-weight:600;color:#0c0814}
.header-layout .nodification{padding-right:1.5rem}
.header-layout .user-layout{padding-right:1rem}
.header-layout .nodification-count{color:#C5C7CD}
.header-layout .MuiBadge-colorSecondary{background-color:#6846C6!important}
.header-layout .user-profile-icon span{display:block;width:auto;height:auto}
.header-layout .user-profile-icon span img{display:block;width:auto;height:auto;border:2px solid #DFE0EB;border-radius:2rem;padding:.2rem}
.header-layout .login-username{padding:0;color:#0C0814;line-height:normal;font-weight:600;font-size:1rem;text-transform:capitalize}
.header-layout .login-userrole{padding:0;color:#0C0814;line-height:normal;font-size:.75rem;margin-top:.2rem}
.usericon-layout{background-color:#6846C6!important}
.user-logout{background-color:#6846C6!important}
.user-logout:focus{background-color:#6846C6!important}
@media screen and (max-width: 1920px) and (min-width:1366px) {

}
@media screen and (max-width:1023px) {
    .page-header .header-layout{width:auto!important;margin:0 auto!important;left:0;background-color:#6846c6!important}
    .header-layout .toolbar{height:auto;padding:0 0 0 1rem}
    .header-layout .nodification{padding-right:1rem}
    .header-layout .header-content{font-size:.75rem;max-width:100%;word-break:break-all;text-align:left;display:block;width:180px;padding-left:3rem;color:#fff}
    .header-layout .login-username{font-size:.75rem;color:#fff}
    .header-layout .login-userrole{font-size:.5rem;color:#fff}
    .header-layout .user-layout{padding-right:.5rem}
    .header-layout .nodification > span svg{font-size:.75rem}
    .header-layout .user-profile-icon span img{max-width:80%}
}
@media screen and (max-width:767px) {
    .header-layout .header-content{
        display: none;
    }
    @media only screen and (orientation: landscape) {
        .header-layout .header-content{
            display: block;
        }
    }
}