body{background-color:#fafafa!important;margin:0;padding:0;}
body,.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6,p,a,.mat-form-field-infix,label,button,span{font-family:'Montserrat',sans-serif!important}
.pg-login{background-color: #fff !important;padding: 0 1rem;}
.header-section{flex-direction:row;place-content:space-between;align-items:center}
.header-section .language-dropdown{margin:0 auto;padding:0;font-family:'Montserrat',sans-serif}
.header-section .language-dropdown .MuiSelect-outlined.MuiSelect-outlined{margin:0 auto;padding:.2rem 2rem .2rem 1rem;line-height:normal;font-size:.875rem}
.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded{top:45px!important;left:8px!important}
.login-container{align-items:center;place-content:space-between;flex-wrap:nowrap!important;margin:0 auto}
.login-content-section{display:flex;flex-flow:column;align-content:space-between;align-items:flex-start;justify-content:space-between;min-height:80vh;}
.login-content-section .login-title{font-weight:lighter;color:#6846c6;font-size:3.8rem;margin:0;letter-spacing:inherit;line-height:normal}
.login-content-section .login-title span{font-weight:700}
.login-content-section .login-text{color:#0c0814;font-weight:700;font-size:1.8rem;padding:1rem 0;letter-spacing:inherit;line-height:normal}
.login-content-section .login-para{font-weight:lighter;font-size:1.2rem;line-height:normal}
.login-content-section .login-btn span{color:#fff;text-decoration:none;font-size:.875rem;text-transform:capitalize}
.login-form-section{display:block;max-width:460px}
.login-form-section .login-content-title{font-size:2rem;font-weight:700;line-height:2.5rem}
.login-form-section .login-content-info{font-size:.875rem;font-weight:lighter;margin:1rem 0;color:#0c0814}
.login-form-section .login-form-box{border:1px solid #ccc;border-radius:.5rem;margin-bottom:1rem}
.login-form-box svg{color:#858389}
.login-form-section .login-form-box .form-info{padding:.75em 0 0;background-color:#f0f0f0;border-radius:.5rem}
.login-form-section .login-form-box .form-info .MuiInput-underline{padding:0 .75rem;font-family:'Montserrat',sans-serif}
.login-form-section .login-form-box .form-info .MuiInputLabel-formControl{padding:0 1rem;font-family:'Montserrat',sans-serif!important;font-size:1rem}
.login-form-section .login-form-box .form-info .MuiInput-underline::before{border-bottom:1px solid #b6b6b6}
.login-form-section .login-form-box .password-box .form-info .MuiInput-underline::before{display:none}
.login-captcha{width:100%!important;margin:0 0 .75rem;display:block!important;background-color:#f9f9f9;padding:0;height:auto!important;border-radius:.4rem}
.login-form-btn{border-radius:.25rem;outline:0;border:none;align-items:center;justify-content:center;color:#fff;font-size:.875rem;text-align:center;padding:.75rem 1rem!important;margin:1rem 0;transition:.3s;display:inline-block;cursor:pointer;line-height:normal;font-weight:400!important;background-color:#6846c6!important;width:100%!important}
.login-form-btn span{color:#fff;text-decoration:none;font-size:.875rem;text-transform:capitalize}
.password-visibility{margin:0 auto;padding:0;position:relative;bottom:.95rem}
.pg-login .loginerror {color: #fff; font-size: 0.875rem; background-color: #eb4746; padding: 0.2rem 0.5rem;border-radius: 0.2rem;margin-bottom: 1rem;}
.pg-login .login-captcha .loginerror {color: #fff; font-size: 0.875rem; background-color: #eb4746; padding: 0.2rem 0.5rem;border-radius: 0.2rem;margin-bottom:0;margin-top:0.5rem}
.pg-login .login-captcha .g-recaptcha > div {margin: 0 !important;float: right;}
.learnmore-pg .learn-more-pg{
	box-shadow: none;
}
.learnmore-pg .pg-inner-container p {
    margin: 0 auto;
    line-height: normal;
    font-weight: 400;
    font-size: 0.875rem;
    color: #0c0814;
	padding-bottom: 0.5rem;
	position: relative;
	padding-left:1.5rem;
}
.learnmore-pg .pg-inner-container p:before {
    content: '';
    position: absolute;
    background-image: url(../../images/gcrm-sprite.svg);
    background-position: -1458px -208px;
    width: 19px;
    height: 19px;
    top:0;
    left: -2px;
}
.learnmore-pg .pg-inner-container .pg-title {
    margin: 0 auto;
    padding: 0 0 1rem;
    line-height: normal;
    font-weight: 600;
    font-size: 1.5rem;
    color: #6846C6;
}
.learnmore-pg .pg-inner-container{
	background-color: #fff;
    border: 1px solid #dadada;
    border-radius: .25rem;
    margin: 1rem;
}
.learnmore-pg button{width: auto !important;margin-top: 0.5rem;}
body.login-pg{background-color:#fff !important;}
.login-learnmore-section {
    align-items: center;
}
.pg-login .why-learn-more {
    color: #0c0814;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1rem 1rem 1rem 0;
    letter-spacing: inherit;
    line-height: normal;
    margin: 0;
}
.login-content-section .login-btn{
	border-radius:.25rem;
	outline:0;border:none;
	align-items:center;
	justify-content:center;
	color:#fff;
	font-size:.875rem;
	text-align:center;
	padding:.5rem 1rem!important;
	margin:1rem 0;
	transition:.3s;
	display:inline-block;
	cursor:pointer;
	line-height:normal;
	font-weight:400;
	background-color:#6846c6
}
/*Arabic*/
.arabic-lang .header-section{flex-direction:row-reverse;}
/*Arabic end*/

@media screen and (max-width: 1920px) and (min-width:1466px) {
	.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded{
		left:10rem!important;
	}
}
@media screen and (max-width: 1920px) and (min-width:1366px) {
	.header-section {max-width: 1600px;margin: 0 auto;}
	.login-container {max-width: 1600px;}
	.pg-login {min-height: 100vh;}
}
@media screen and (max-width:1366px) {
	.login-content-section-bottom img{max-width: 100%;}
}
@media screen and (max-width:1200px) {
	.login-content-section .login-title{font-size: 3.3rem;}
}
@media screen and (max-width:1023px) {
	.login-container{flex-direction:column-reverse!important}
	.pg-login {padding: 0 0.5rem;}
	.logo-section{display:block;margin:0!important}
	.login-form-section .login-content-title{font-size:1.5rem;text-align:center;display:block;margin:0 auto}
	.login-form-btn{padding:.5rem 1rem!important}
	.login-form-section .login-form-box .form-info{padding:.5em 0 0}
	.login-content-section{height:auto;margin-bottom: 1rem;min-height: inherit;}
	.login-content-section-top{border:1px solid #dadada;padding:1rem;margin-top:1rem}
	.login-content-section-top h1.login-title{font-size:1.5rem!important;line-height:normal;text-align:center;margin:0 auto}
	.login-content-section-bottom{display:none!important}
	.login-content-section-top .login-text{font-size:1.5rem;text-align:center;padding:.5rem 0!important}
	.login-content-section-top .login-para{font-size:1rem;text-align:center}
	.login-content-section .login-btn{margin:1rem auto}
	.login-learnmore-section {
		justify-content: center;
	}
	.pg-login .why-learn-more {
		padding:1rem 0rem 0rem 0;
	}
	.header-section .language-dropdown .MuiSelect-outlined.MuiSelect-outlined {
		padding: .2rem 2rem .2rem 0.5rem;
	}
	.login-form-section .login-content-info {
		margin: 0.3rem 0 1rem 0;
	}
	.arabic-lang .login-form-section .login-form-box .form-info .MuiInputLabel-formControl{
		width: 100%;
		font-size: 1.3rem;
		font-weight: 400;
	}
	.arabic-lang .login-form-section .password-visibility{padding: 0;}
	.arabic-lang .login-form-section .login-content-title {
		margin: 0;
	}
	.arabic-lang .login-content-section-top h1.login-title {
		margin: 0;
	}
}
@media screen and (max-width:767px) {
	.learnmore-pg .pg-inner-container {
		margin: 1rem 0;
	}
}
.learn-more{
	padding: 1.3rem 0rem!important;
    margin: 0rem 0px!important;
}