.sidemenu-list a{
    padding: 0rem 0rem!important;
    color: white!important;
    text-decoration: none!important;
}
.navlist-layout{
    display: flex;
}
.navlist-layout .listicon{
    color:white !important;    
}
.navlist-layout .nested-list{
    padding-left: 32px;
}
.navlist-icon{   
    overflow: inherit !important;
}
