.card-head{
    width: 100%;
}
.reo-designer{
    width:100%;
}
.page-container .pg-inner-container{
    background-color:#fff;
    border:1px solid #dadada;
    border-radius:.25rem;
    margin:1rem
}
.page-container .pg-inner-container .pg-title{
    margin:0 auto;
    padding:0 0 1rem;
    line-height:normal;
    font-weight:600;
    font-size:1.5rem;
    color:#6846C6;
}
.page-container .pg-inner-container h3{
    margin: 0 auto;
    padding: 1rem 0 1rem;
    line-height: normal;
    font-weight: 600;
    font-size: 1rem;
}
.page-container .pg-inner-container p{
    margin: 0 auto;
    line-height: normal;
    font-weight: 400;
    font-size: 0.875rem;
    color:#0c0814;
    padding-bottom: 0.5rem;
}
.page-container .pg-inner-container img{
    margin: 0 0 1rem 0;
    display: block;
    border: 1px solid #dadada;
    padding: 1rem;
    max-width: 100%;
}
.page-container .pg-inner-container ul{
    padding: 1rem;
    border: 1px solid #dadada;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    margin-top: 1rem;
}
.page-container .pg-inner-container ul h3{
    margin: 0 auto;
    padding: 0 0 0.5rem;
    line-height: normal;
    font-weight: 600;
    color:#0c0814;
    font-size: 1rem;
}
.page-container .pg-inner-container ul li{
    margin: 0;
    padding: 0.2rem 0 0.2rem 1.5rem;
    display: block;
    list-style-type: disc;
    position: relative;
}
.page-container .pg-inner-container ul li span{
    margin: 0 auto;
    line-height: normal;
    font-weight: 400;
    font-size: 0.875rem;
    color:#0c0814;
}
.page-container .pg-inner-container ul li span:before {
    content: '';
    position: absolute;
    background-image: url(../../images/gcrm-sprite.svg);
    background-position: -1458px -208px;
    width: 19px;
    height: 19px;
    top:8px;
    left: -2px;
}
.header-layout .nodification{
    cursor: pointer;
}
.header-layout .nodification  + .MuiGrid-root{
    position: relative;
}
.header-layout .dropdown.notifications {
    position: relative;
}
.header-layout .dropdown.notifications .nav-link-icon{
    color:#6846C6;
    cursor: pointer;
    display: none;
}
.header-layout .dropdown.notifications .nav-link-icon .nav-link-icon__wrapper{
    display: flex;
    border: 1px solid #f0f0f0;
    box-shadow: 0 1px 6px 0 #20212447!important;
    padding: .5rem;
    border-radius: 4px;
    position: relative;
}
.header-layout .dropdown.notifications .nav-link-icon .nav-link-icon__wrapper i{
    color: #C5C7CD;
}
.header-layout .dropdown.notifications .nav-link-icon .nav-link-icon__wrapper span{
    padding: 0.35rem 0.6rem;
    background-color: #6846C6;
    color: #fff;
    border-radius: 4rem;
    position: absolute;
    line-height: normal;
    top: -0.7rem;
    font-size: 0.6rem;
    right: -0.6rem;
}
.header-layout .dropdown.notifications .dropdown-menu{
    position: absolute;
    right:1rem;
    top: 2rem;
    min-width: 20rem;
}
.header-layout .dropdown.notifications .dropdown-menu button{
    display: block;
    width: 100%;
    border: 1px solid #dadada;
    outline: none;
    background-color: #f0f0f0;
    padding: 1rem;
    cursor: pointer;
}
.header-layout .dropdown.notifications .dropdown-menu button i{
    color: #C5C7CD;
}
.header-layout .dropdown.notifications .dropdown-menu button .notification__category{
   font-weight: 600;
}
.header-layout .dropdown.notifications .dropdown-menu button:first-child{
    border-radius: 0.4rem 0.4rem 0 0;
}
.header-layout .dropdown.notifications .dropdown-menu button:last-child{
    border-radius:0 0 0.4rem 0.4rem;
}
.pg-inner-container table{
    border-collapse: collapse;
    border: 1px solid #dadada;
    border-radius: 0.25rem;
    box-shadow: 0 1px 6px 0 #20212447!important;
}
.pg-inner-container .emp-list{
    box-shadow:none;
}
.pg-inner-container table thead tr{
    height:auto;vertical-align:middle;background-color: #6846c6;
}
.pg-inner-container table thead tr th,.pg-inner-container table tbody tr td{
    height: auto;
    vertical-align: middle;
    color: #fff;
    padding:1rem;
    font-weight: 600;
    background-color: inherit;
    font-family:'Montserrat',sans-serif;
    text-align: left;
}
.pg-inner-container table thead tr .mat-checkbox label{margin:0 auto}
.pg-inner-container table tbody tr td{color:#0c0814;font-weight: 400;}
@media screen and (max-width:767px) {
	.header-layout .dropdown.notifications .dropdown-menu {
		right: -6rem;
		min-width: 17rem;
    }
    .page-container .pg-inner-container{
        margin:0.5rem;
    }
    .page-container .pg-inner-container ul li {
        word-break: break-word;
    }
    .page-container .pg-inner-container ul li span {
        word-break: break-word;
    }
}