.card-head{width:100%}
.page-container .pg-inner-container{background-color:#fff;border:1px solid #dadada;border-radius:.25rem;margin:1rem}
.pg-title{margin:0 auto;padding:0 0 1rem;line-height:normal;font-weight:500;font-size:1.5rem;color:#6846C6}
.pg-inner-container ul li span:before{background-image:initial}
.box-layout{background:#fff;padding:1rem;box-shadow:0 1px 2px 0 #20212447!important}
a,p,h1,h2,h3,h4,h5,h5,li{font-family:'Montserrat',sans-serif!important}
p{display:block;width:100%}
.pad-none{padding:0}
.box{padding:0 1rem}
#intro,#colors,#typography,#images,#image-optimization,#gif,#banner,#button,#error-msg,#breadcrumb,#common-modal,#resolutions,#bank-card-resolutions,#expleo-standared,#source-files{border:1px solid #dadada;padding:1rem;margin-bottom:1rem;border-radius:.5rem}
.box .title{font-size:.875rem;padding:1rem 0;margin:0 auto;background-color:#f5f5f5;color:#0C0814;display:block;width:100%;line-height:normal}
.sub-title{font-size:16px}
header img{float:left;max-width:150px}
header ul{list-style:none;margin:13px 3px;float:right;padding-right:15px}
.logo{width:400px}
.Header{margin:30px 0}
.colors ul{list-style:none;margin:0;padding:0;overflow:hidden}
.colors ul li{color:#FFF;width:80px;font-size:14px;text-transform:uppercase;float:left;text-align:center;padding:31px 0}
.heading1{font-size:1.3rem;color:#6846c7;display:block;width:100%;line-height:normal;margin:0 auto .5rem}
.heading2{font-size:1rem;color:#6846c7;display:block;width:100%;margin:0 auto}
.heading3{font-size:1rem;color:#6846c7;display:block;width:100%;margin:0 auto}
.heading4{font-size:1rem;color:#6846c7;display:block;width:100%;margin:0 auto}
.table{box-shadow: none !important;border: 1px solid #dadada;border-collapse: collapse;}
.table h5.heading,.table h6.heading{font-size:.875rem;font-weight:400;margin:0 auto}
.table h4{font-size:1rem}
.table td,.table th{font-size:.875rem}
.table ul li{font-size:.875rem}
.box.row.resolutions .table h1{font-size:1.5rem}
.box.row.resolutions .table h2{font-size:1rem}
.box.row.resolutions .table h3{font-size:.875rem}
.box.row.resolutions .table h4{font-size:.875rem}
.box.row.resolutions .table h5{font-size:.875rem}
.table tr:first-child td{border-top:0}
.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th{vertical-align:middle}
.unstyled{list-style:none}
.list-panel{list-style-position:inside}
.list-panel li{padding:5px 0}
.blue-bg{background-color:#3dbfd9;color:#fff;text-decoration:underline}
.blue-bg a{color:#fff}
.white-bg a{color:#6846c7}
.white-bg{background-color:#fff;color:#0C0814;text-decoration:underline}
.btn{font-weight:400;border-radius:4px}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){border-top-right-radius:0;border-bottom-right-radius:0}
.resolutions td{position:relative}
.resolutions td h1{position:absolute;right:0;top:60px;bottom:0;left:0;line-height:47px}
.resolutions td h3{position:absolute;right:0;top:7rem;bottom:0;left:0;line-height:35px}
.resolutions td h4{position:absolute;right:0;top:7rem;bottom:0;left:0;line-height:25px}
.resolutions td h5{position:absolute;right:0;top:7rem;bottom:0;left:0;line-height:20px}
.typography-table .table>tbody>tr>td,.typography-table .table>tbody>tr>th,.typography-table .table>tfoot>tr>td,.typography-table .table>tfoot>tr>th,.typography-table .table>thead>tr>td,.typography-table.table>thead>tr>th{border-top:0}
.table-button td{padding:10px 0!important}
.btn-loading{padding-left:40px;background-repeat:no-repeat;background-position:7px 4px}
footer{background-color:#424242;color:#FFF;font-size:12px;padding:15px}
.breadcrum{list-style:none;font-size:10px}
.breadcrum li{float:left;padding:0 5px;border-right:1px solid #bdc3c7}
.breadcrum li a{color:#0C0814}
.breadcrum li a:hover{text-decoration:none}
.nav-pills>li>a{padding:3px 15px;color:#0C0814;text-decoration:none}
ul.nav-pills{top:67px;position:fixed}
a{color:#6846c7;text-decoration:underline}
a:hover{color:#6846c7}
.pt{padding-top:10px;display:block}
.live-ex{opacity:0;animation:blinking 1s linear infinite}
@keyframes blinking {
  from,49.9%{opacity:0;}
  50%,to{opacity:1;}
}
.nav-pills>li.active>a{background-color:transparent;color:#0C0814;}
.nav>li>a:focus, .nav>li>a:hover{background-color:#6846c7;color:#fff;}
.feedback{position:fixed;right:-35px;top:48%;transform:rotate(-90deg);background-color:#6846c7;color:#fff;padding:5px 20px;text-decoration:none;}
.feedback:hover{color:#fff;text-decoration:none;}
.common-list ol{padding-left:15px;list-style-position:outside;}
@media screen and (max-width: 810px) {
    #section1,#section2,#section3,#section41,#section42{margin-left:150px}
    .box-layout{padding:.5rem}
    .heading1,.heading2,.heading3,.heading4{padding-bottom:.5rem}
    .inline-container{display:block;width:100%}
    .table-scroll{max-width:100%}
    .table-scroll table{max-width:100%;overflow-x:scroll;display:block}
}
.card-bottom{
  padding-bottom: 10px;
}
.tble-btm{
  margin-bottom:0
}
.font-size-18{
  font-size:18px
}
.tble-data{
  align:top;
  vertical-align: top;
}
.tble-td-max-wdth{
  max-width:215px;
}
.tble-td-style{
  color:#6846c7;
  font-size:60px;
}
.title-name{
  clear:left;
}
.tble-td-btn{
  background-color:#6846c7;
  color:#ffffff;
}
.tble-td-btn-one{
  background-color:#FFFFFF;
  border:1px solid #ccc;
}
.tble-td-btn-two{
  background-color:#EBEBEB;
  border:1px solid #ccc;
}
.extralarge-btn{
  background-color:#6846c7;
  border-radius:6px;
  color:#ffffff;
  font-size:20px;
  padding:8px 20px;
}
.large-btn{
  background-color:#6846c7;
  border-radius:4px;
  color:#ffffff;
  font-size:18px;
  padding:7px 10px;
}
.medium-btn{
  background-color:#6846c7;
  border-radius:4px;
  color:#ffffff;
  font-size:15px;
  padding:10px 10px;
}
.small-btn{
  background-color:#6846c7;
  border-radius:3px;
  color:#ffffff;
  font-size:13px;
  padding:7px 10px;
}
.extrasmall-btn{
  background-color:#6846c7;
  border-radius:3px;
  color:#ffffff;
  font-size:12px;
  padding:2px 5px;
}
.mble-btn{
  background-color:#6846c7;
  border-radius:0px;
  color:#ffffff;
  font-size:14px;
  padding:14px 10px;
  min-width:300px;
}
.mble-desktop-one{
  background-color:#FFFFFF;
  border-radius:4px 0 0 4px;
  border:1px solid #6846c7;
  color:#34495E;
  font-size:15px;
  padding:10px;
  margin-left:10px;
  width:120px;
}
.mble-desktop-two{
  background-color:#6846c7;
  border-radius:0 4px 4px 0;
  color:#ffffff;
  font-size:15px;
  padding:10px;
  margin-left:-3px;
  width:120px;
}
.mobile-sticky-one{
  background-color:#FFFFFF;
  border-radius:0px;
  border:1px solid #6846c7;
  color:#34495E;
  font-size:14px;
  padding:14px 10px;
  min-width:115px;
}
.mobile-sticky-two{
  background-color:#6846c7;
  border-radius:0px;
  color:#ffffff;
  font-size:14px;
  padding:14px 10px;
  min-width:120px;
  margin-left:-3px;
}
.font-bold{
  font-weight: bold;
}
.font-bold-one{
  color:#6846c7;
  border-right:0;
  font-weight:bold;
}

.card-list-one{
  background-color:#6846c7;
  border:1px solid #6846c7;
}
.card-list-two{
  background-color:#805CE5;
  border:1px solid #805CE5;
}
.card-list-three{
  background-color:#0C0814;
  border:1px solid #0C0814;
}
.card-list-four{
  background-color:#1C1B25;
  border:1px solid #1C1B25;
}
.card-list-five{
  background-color:#F0F0F0;
  border:1px solid #F0F0F0;
  color:#0C0814
}
.card-list-six{
  background-color:#E2E2E2;
  border:1px solid #E2E2E2;
  color:#0C0814
}
.card-list-seven{
  background-color:#23B3D9;
  border:1px solid #23B3D9
}
.card-list-eight{
  background-color:#4BCCB9;
  border:1px solid #4BCCB9;
}
.card-list-nine{
  background-color:#BC22BF;
  border:1px solid #BC22BF
}
.card-list-ten{
  background-color:#EC6F62;
  border:1px solid #EC6F62;
}
.card-list-eleven{
  background-color:#FFFFFF;
  border:1px solid #CCCCCC;
  color:#34495E;
}
.card-list-12{
  background-color:#6846c7
}



